@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: linear-gradient(to bottom right, rgb(242, 255, 99), rgb(211, 216, 94), rgb(180, 177, 90), rgb(149, 137, 85), rgb(118, 98, 81), rgb(87, 59, 76), rgb(95, 64, 78), rgb(102, 68, 80), rgb(110, 73, 82), rgb(118, 78, 83), rgb(125, 82, 85), rgb(133, 87, 87));
}

.main {
  width: 60%;
  margin: 0 auto;
}

.info {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.form {
  height: 50vh;
  padding-top: 80px;
  padding-left: 30px;

}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #fbff03;
  width: 100%;
  padding-bottom: 4px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 30px;
  margin-right: 50px;
  margin-left: 0px;
  font-size: 20px;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #fbff03;
  font-style: oblique;
}

input::-moz-placeholder {
  color: #fbff03;
}

button {
  border: 2px solid #103a65;
  border-bottom: 4px solid #103a65;
  padding: 8px 20px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #239c23;
  color: #fff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.info h2 {
  font-size: 3em;
  color: #fff;
  text-shadow: #fff -1px -1px 0, 
                 rgb(0, 4, 255) 1px 1px 0;
}

.info p {
  color: #f3c808;
  font-weight: bold;
}

.infoWeath {
  width: 60%;
  font-size: 20px;
  color: #fff;
  text-shadow: greenyellow 0 0 2px;
}

.error {
  color: #FF7519;
  font-weight: bold;
}